<section class="hero is-small is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        通知
      </h1>
    </div>
  </div>
</section>
    <%= link_to notification_path(@notifications), method: :delete, data: {confirm: "削除しますか？"} do %>
    <div class="button is-success">全削除</div>
    <% end %>
    <% if @notifications.exists? %>
    <%= render @notifications %>
    <% else %>
    <section class="section">
     <div class="container">
      <div class="columns is-centered">
       通知はありません
      </div>
　   </div>
   </section>
    <% end %>
      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <p class="bd-notification is-primary">
            <%= paginate @notifications %>
          </p>
        </div>
      </div>