// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("po.jpg");
  width:100%;
  height:770px;
}
